<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoran Lokator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        /* Slični stilovi kao pre */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }
        h1 { text-align: center; margin-top: 20px; color: #2c3e50; }
        .container { max-width: 1200px; margin: 20px auto; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
        select, button, input { width: 100%; padding: 12px; font-size: 16px; border: 2px solid #ddd; border-radius: 8px; margin-top: 15px; background-color: #f8f8f8; transition: background-color 0.3s; }
        button { background-color: #3498db; color: white; border: none; cursor: pointer; }
        button:hover { background-color: #2980b9; }
        #reset {background-color: #cd2812;}
        #suggest {background-color: rgb(25, 198, 15);}
        #map { height: 400px; border-radius: 8px; margin-top: 20px; background-color: #f4f4f4; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        table, th, td { border: 1px solid #ddd; padding: 12px; text-align: center; }
        th { background-color: #3498db; color: white; }
    </style>
</head>
<body>

    <h1>Restoran Lokator</h1>
    <div class="container">
        <label for="citySearch">Izaberite grad:</label>
        <select id="citySearch">
            <option value="">-- Izaberite grad --</option>
            <option value="Sarajevo">Sarajevo</option>
            <option value="Mostar">Mostar</option>
            <option value="Banja Luka">Banja Luka</option>
            <option value="Zenica">Zenica</option>
            <option value="Tuzla">Tuzla</option>
            <option value="Bihać">Bihać</option>
            <option value="Trebinje">Trebinje</option>
            <option value="Doboj">Doboj</option>
        </select>
        
        <button onclick="searchRestaurants()">Prikaz restorana</button>

        <div id="map"></div>
        
        <label for="methodSelect">Izaberite metodu predikcije:</label>
        <select id="methodSelect" onchange="toggleNumClusters()">
            <option value="process_random">Random (KMeans)</option>
            <option value="process_dbscan">DBSCAN Klasterisanje</option>
            <option value="process">KMeans++ Težinsko Klasterisanje</option>
        </select>

        <div id="numClustersContainer">
            <label for="numClusters" style="display: block; margin-top: 20px; font-weight: bold;">Unesite broj željenih lokacija:</label>
            <input type="number" id="numClusters" min="1" value="3" style="width: 17%; padding: 8px; margin-top: 10px;">
        </div>
        
        <button id="suggest" onclick="sendData()">Predloži lokacije</button>
        <button id="reset" onclick="resetMap()">Resetiraj lokacije</button>
        <h2>Odabrane lokacije</h2>
        <table id="locationsTable">
            <thead>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Brisanje</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script>

        // Pozovi toggleNumClusters() na učitavanju stranice da sakrije broj klastera ako je DBSCAN inicijalno odabran
        document.addEventListener("DOMContentLoaded", toggleNumClusters);
        var map = L.map('map').setView([43.9, 17.7], 8);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    
        var locations = []; // Lista lokacija za slanje na server
        var markers = [];   // Lista svih markera na mapi
    
        // Funkcija za prikaz lokacija u tabeli
        function updateTable() {
            var tableBody = document.querySelector("#locationsTable tbody");
            tableBody.innerHTML = ""; // Očisti tabelu
    
            locations.forEach((location, index) => {
                var row = `<tr>
                    <td>${location.latitude.toFixed(6)}</td>
                    <td>${location.longitude.toFixed(6)}</td>
                    <td><button onclick="removeLocation(${index})">Ukloni</button></td>
                </tr>`;
                tableBody.innerHTML += row;
            });
        }
    
        // Dodavanje markera na klik na mapu
        map.on('click', function (e) {
            var lat = e.latlng.lat;
            var lon = e.latlng.lng;
    
            // Dodaj marker na mapu
            var marker = L.marker([lat, lon]).addTo(map);
            markers.push(marker);
    
            // Dodaj lokaciju u listu
            locations.push({ latitude: lat, longitude: lon });
    
            // Ažuriraj tabelu
            updateTable();
        });
    
        // Uklanjanje lokacije
        function removeLocation(index) {
            // Ukloni marker s mape
            map.removeLayer(markers[index]);
            markers.splice(index, 1); // Ukloni marker iz liste
    
            // Ukloni lokaciju iz liste
            locations.splice(index, 1);
    
            // Ažuriraj tabelu
            updateTable();
        }
    
        // Prikaz restorana na mapi
        function searchRestaurants() {
            var cityName = document.getElementById('citySearch').value;
            fetch(`/search_restaurants?city_name=${cityName}`)
                .then(response => response.json())
                .then(data => {
                    if (data.restaurants) {
                        // Očisti staru mapu
                        markers.forEach(marker => map.removeLayer(marker));
                        markers = [];
                        
                        // Dodaj restorane na mapu
                        data.restaurants.forEach(restaurant => {
                            var marker = L.marker([restaurant.latitude, restaurant.longitude]).addTo(map);
                            markers.push(marker);

                            locations.push({
                                latitude: restaurant.latitude,
                                longitude: restaurant.longitude
                            });
                        });

                        

                        updateTable()

                    } else {
                        alert("Nema restorana u ovom gradu.");
                    }
                })
                .catch(error => {
                    alert(`Greška: ${error.message}`);
                });
        }
        
        function toggleNumClusters() {
            var selectedMethod = document.getElementById('methodSelect').value;
            var numClustersContainer = document.getElementById('numClustersContainer');

            // Sakrij broj klastera za DBSCAN, prikaži za ostale
            if (selectedMethod === "process_dbscan") {
                numClustersContainer.style.display = "none";
            } else {
                numClustersContainer.style.display = "block";
            }
        }

        // Slanje podataka za predlaganje novih lokacija
        function sendData() {
            var method = document.getElementById('methodSelect').value;
            var numClusters = document.getElementById('numClusters').value; 

            var requestBody = { locations: locations };
            if(method !== "process_dbscan"){
                requestBody.numClusters = parseInt(numClusters);
            }

            fetch(`/${method}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ locations: locations, numClusters: parseInt(numClusters) })  // 
            })
            .then(response => response.json())
            .then(data => {
                if (Array.isArray(data)) {
                    data.forEach(loc => {
                        var proposedMarker = L.marker([loc.latitude, loc.longitude], {
                            icon: L.icon({ iconUrl: "https://maps.google.com/mapfiles/ms/icons/red-dot.png" })
                        }).addTo(map);
                        markers.push(proposedMarker);
                    });
                } else {
                    alert(data.error || "Nepoznati odgovor sa servera.");
                }
            })
            .catch(error => {
                alert(`Greška: ${error.message}`);
            });
        }

        function resetMap() {
            // Remove all markers (both blue and red)
            if (typeof markers !== "undefined") {
                markers.forEach(function(marker) {
                    map.removeLayer(marker); // Uklanjanje markera sa mape
                });
                markers = [];
            }
            // Reset marker lists and locations
            locations = [];

            const tableBody = document.querySelector("#locationsTable tbody");
            if (tableBody) {
                tableBody.innerHTML = ""; // Clear all rows from the table
            }

            // Reset the table
            updateTable();
        }
    </script>
    
</body>
</html>
